@font-face {
    font-family: 'Three Signature';
    src: url('Three-Signature.eot');
    src: url('Three-Signature.eot?#iefix') format('embedded-opentype'),
         url('Three-Signature.woff2') format('woff2'),
         url('Three-Signature.woff') format('woff'),
         url('Three-Signature.ttf')  format('truetype'),
         url('Three-Signature.svg#Three Signature') format('svg');
}